* {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    max-width: 1000px;
    margin-left: 300px;
}

h1 {
    font-weight: lighter;
    font-size: 100px;
    position: absolute;
    top: 230px;
    left: 570px;
    color: white;
    
}

#title img {
    width: 1100px;
    height: 800px;
}

p {
    text-align: justify;
    font-size: 1.5em;
    font-weight: light;
    width: 90%;
    padding: 35px 0;
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallimg {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin-bottom: 30px;
    line-height: 1.5em;
}

h2 {
    margin-top: 40px;
    margin-bottom: 30px;
}

ol {
    list-style: none;
    line-height:1.4em;
    width: 90%;
}

.regular {
    margin-left: 30px;
}

#recipeinfo {
    text-align: center;
    padding-top: 10px;
}